.logo-section {
    height: 50px;
    width: 100%;
    padding-bottom: 150px;
    text-align: center;
    background-color: black;
}

.nav-section {
    height: 50px;
    background-color: #292929;
}

.heading-text {
    margin-top: 60px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.heading-text2 {
    margin-top: 20px;
    text-align: center;
    color: grey;
    font-size: 25px;
}

.solid {
    border-top: 1px solid #bbb;
    width: 800px;
    text-align: center;
    left: 340px;
    position: absolute;
}

.buttons {
    text-align: center;
}

.uno-logo {
    height: 70px;
    width: 70px;
    left: 400px;
    margin-top: 40px;
    position: absolute;
}

.vl {
    border-left: 1px solid white;
    margin-top: 40px;
    position: absolute;
    left: 500px;
    height: 80px;
}

.vm {
    border-left: 1px solid #c5c4c4;
    margin-top: 10px;
    position: absolute;
    margin-left: 400px;
    height: 100px;
}

.vm1 {
    border-left: 1px solid #c5c4c4;
    margin-top: 10px;
    position: absolute;
    margin-left: 575px;
    height: 100px;
}

.vm2 {
    border-left: 1px solid #c5c4c4;
    margin-top: 10px;
    position: absolute;
    margin-left: 760px;
    height: 100px;
}

.vm3 {
    border-left: 1px solid #c5c4c4;
    margin-top: 10px;
    position: absolute;
    margin-left: 950px;
    height: 100px;
}

.vm4 {
    border-left: 1px solid #c5c4c4;
    margin-top: 10px;
    position: absolute;
    margin-left: 1130px;
    height: 100px;
}

.heading-text1 {
    font-size: 35px;
    color: white;
    margin-top: 50px;
    position: absolute;
    left: 530px;
    height: 80px;
}

.Status {
    position: absolute;
    margin-top: 9px;
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

.Home {
    position: absolute;
    margin-top: 9px;
    color: white;
    margin-left: 200px;
    text-decoration: none;
}

.Admin {
    color: white;
    margin-left: 950px;
    margin-top: 5px;
    position: absolute;
    text-decoration: none;
}
.Tutor {
    color: white;
    margin-top: 5px;
    position: absolute;
    margin-left: 1100px;
    text-decoration: none;
}
.Login {
    color: white;
    margin-top: 9px;
    position: absolute;
    margin-left: 1250px;
    text-decoration: none;
}

.hoursHeading {
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    color: red;
    font-size: 20px;
    margin-bottom: 15px;
}

.courseHeading {
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    color: red;
    font-size: 25px;
}

.courses {
    font-size: 20px;
    font-weight: bold;
}

.column {
    float: left;
    width: 40%;
    text-align: left;
}

.collection {
    margin-left: 30%;
    margin-top: 30px;
}

.hoursPerWeek {
    margin-top: 40px;
}

.spanA {
    display: flex;
}

.Day {
    right: 300px;
}

#exampleInputEmail1 {
    position: relative;
    top: 18px;
    margin-left: 0px;
    width: 600px;
    margin-bottom: 25px;
}

#exampleFormControlSelect1 {
    position: relative;
    top: 18px;
    margin-left: 0px;
    width: 600px;
    margin-bottom: 25px;
}

#forms {
    margin-left: 200px;
}

.InputFields {
    font-weight: bold;
    font-size: 20px;
}

body {
    padding-bottom: 16px;
}

.btn-secondary {
    background-color: #292929 !important;
    border: none !important;
    outline: none !important;
}
