#content {
    min-height: 100%;
    padding-bottom: 50px;
}

footer {
    height: 50px;
    background-color: #292929;
    text-align: right;
    min-width: 360px;
    width: 100%;
 }

.logo-section {
    right: 0px;
    height: 100px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    background-color: black;
    list-style-type: none;
    min-width: 360px;
}

.nav-section {
    position: sticky;
    right: 0px;
    height: 50px;
    background-color: #292929;
    text-align: right;
    min-width: 360px;
}

.uno-logo {
    position: relative;
    height: 70px;
    width: 70px;
    right: 20px;
}

a.logo-text:visited {
    color: white;
    text-decoration: none;
}

a.logo-text:hover {
    color: white;
    text-decoration: none;
}

a.logo-text:active {
    color: white;
    text-decoration: none;
}

a.logo-text:link {
    color: white;
    text-decoration: none;
}

@media all and (min-width: 800px) {
    .logo-text {
        font-size: 35px;
        color: white;
        text-decoration: none;
        position: relative;
        left: 20px;
    }

    table.hours {
        font-size: 16px;
    }

    button.create-ticket-button {
        background-color: #c5c4c4;
        border: none;
        border-radius: 4px;
        width: 230px;
        height: 50px;
        font-size: 18px;
        color: black;
        text-align: center;
        text-decoration: none;
    }
}

@media all and (max-width: 800px) {
    .logo-text {
        font-size: 4vw;
        color: white;
        text-decoration: none;
        position: relative;
        left: 20px;
    }

    table.hours {
        font-size: 2vw;
    }

    button.create-ticket-button {
        background-color: #c5c4c4;
        border: none;
        border-radius: 4px;
        width: 90%;
        height: 50px;
        font-size: 4vw;
        color: black;
        text-align: center;
        text-decoration: none;
    }
}


.Login {
    color: white;
    margin-top: 10px;
    margin-left: -100px;
    position: absolute;
    text-decoration: none;
}

h1 {
    margin-top: 60px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 25px;
}

h2 {
    margin-top: 20px;
    text-align: center;
    color: grey;
    font-size: 25px;
}

.solid {
    border-top: 1px solid #bbb;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    text-align: center;
}

.Status {
    position: static;
    margin-top: 9px;
    color: white;
    margin-right: 500px;
    text-decoration: none;
}

.Admin {
    color: white;
    margin-left: 950px;
    margin-top: 9px;
    position: absolute;
    text-decoration: none;
}

.Tutor {
    color: white;
    margin-top: 9px;
    position: absolute;
    margin-left: 1100px;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 80%;
    min-width: 360px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

table.logo {
    border-collapse: collapse;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: auto;
    min-width: 360px;
    text-align: left;
    vertical-align: middle;
}

th {
    font-weight: bold;
}

tr.middle {
    border-top: 1px solid #c5c4c4;
    border-bottom: 1px solid #c5c4c4;
}

td.center, th.center {
    border-left: 1px solid #c5c4c4;
    border-right: 1px solid #c5c4c4;
}

td.right-end, th.right-end {
    border-left: 1px solid #c5c4c4;
    vertical-align: middle;
}

 form {
    width: 90%;
    margin: auto;
 }

 .centered {
    margin-left: auto;
    margin-right: auto;
 }
