.logo-section {
    position: sticky;
    right: 0px;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 100px;
    text-align: center;
    background-color: black;
    list-style-type: none;
    min-width: 700px;
}

.nav-section {
    position: sticky;
    right: 0px;
    height: 50px;
    background-color: #292929;
    text-align: right;
}

.Login {
    color: white;
    margin-top: 10px;
    margin-left: -100px;
    position: absolute;
    text-decoration: none;
}

.heading-text {
    margin-top: 60px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.heading-text2 {
    margin-top: 20px;
    text-align: center;
    color: grey;
    font-size: 25px;
}

.solid {
    border-top: 1px solid #bbb;
    width: 800px;
    text-align: center;
    left: 340px;
    position: absolute;
}

.buttons {
    text-align: center;
}

.uno-logo {
    display: inline;
    height: 70px;
    width: 70px;
    right: 10px;
    margin-bottom: 35px;
    position: relative;
}

.vl {
    display: inline;
    border-left: 1px solid white;
    position: static;
    font-size: 50px;
}

.heading-text1 {
    display: inline;
    font-size: 35px;
    color: white;
    position: relative;
    left: 20px;
}

.Status {
    position: static;
    margin-top: 9px;
    color: white;
    margin-right: 500px;
    text-decoration: none;
}
.Admin {
    color: white;
    margin-left: 950px;
    margin-top: 9px;
    position: absolute;
    text-decoration: none;
}
.Tutor {
    color: white;
    margin-top: 9px;
    position: absolute;
    margin-left: 1100px;
    text-decoration: none;
}

.hoursHeading {
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    color: red;
    font-size: 20px;
    margin-bottom: 15px;
}

.courseHeading {
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    color: red;
    font-size: 25px;
}

.courses {
    font-size: 20px;
    font-weight: bold;
}

.column {
    float: left;
    width: 40%;
    text-align: left;
}

.collection {
    margin-left: 30%;
    margin-top: 30px;
}

.Day {
    right: 300px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 80%;
    min-width: 700px;
    text-align: center;
}

tr, td, th {
    padding-left: 10px;
    padding-right: 10px;
}

th {
    font-weight: bold;
}

td.center, th.center {
    border-left: 1px solid #c5c4c4;
    border-right: 1px solid #c5c4c4;
}

button.create-ticket-button {
    background-color: #c5c4c4;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    width: 230px;
    height: 50px;
    font-size: 18px;
    color: black;
    text-align: center;
    text-decoration: none;
}

div.center-this {
    width: 100%;
}
