{% extends "base.html" %}
{% block title %}Admin Add Course{% endblock %}
{% block content %}
<form action="{{ url_for('admin.add_course') }}" method="POST">
    <div class="form-group">
        <label for="courseDepartment"><strong>Course Department</strong></label>
        <input type="text" class="form-control" id="courseDepartment" placeholder="E.g. CSCI, IST, CIST" name="courseDepartment" required>
    </div>

    <div class="form-group">
        <label for="courseNumber"><strong>Course Number</strong></label>
        <input type="text" class="form-control" id="courseNumber" placeholder="E.g. 4970, 1400, 3700" name="courseNumber" required>
    </div>

    <div class="form-group">
        <label for="courseName"><strong>Course Name</strong></label>
        <input type="text" class="form-control" id="courseName" placeholder="E.g. Capstone, Intro to C Programing" name="courseName" required>
    </div>

    <input type="checkbox" id="displayOnIndex" name="displayOnIndex" value="display">
    <label for="successfulSession"><strong>Display on Home Screen</strong></label><br><br>

    <button type="submit" class="btn btn-primary" name="SaveChanges">Submit</button>

</form>

<h1>All added courses:</h1>
{% for course in courses %}
    {{ course.__repr__() }}<br>
{% endfor %}


{% endblock %}
