{% extends "base.html" %}
{% block title %}Admin Add Sections{% endblock %}
{% block content %}
<form action="{{ url_for('admin.add_section') }}" method="POST">

    <strong>Semester</strong>
    <select class="form-control" id="semesterInput" name="semesterInput" required>
        {% for semester in semesters %}
            <option value="{{ semester.id }}">{{ semester.season }} {{ semester.year }}</option>
        {% endfor %}
    </select>

    <strong>Course</strong>
    <select class="form-control" id="courseInput" name="courseInput" required>
        {% for course in courses %}
            <option value="{{ course.id }}">{{ course.pretty_print() }}</option>
        {% endfor %}
    </select>

    <div class="form-group">
        <label for="sectionNumberInput"><strong>Section Number</strong></label>
        <input type="number" class="form-control" id="sectionNumberInput" name="sectionNumberInput" required>
    </div>

    <strong>Section Mode</strong><br>
    <input type="radio" id="inPersonMode" name="mode" value="InPerson" required>
    <label for="inPersonMode">In Person</label>
    <input type="radio" id="remoteMode" name="mode" value="Remote">
    <label for="remoteMode">Remote</label>
    <input type="radio" id="totallyOnline" name="mode" value="TotallyOnline">
    <label for="totallyOnline">Totally Online</label><br>

    <strong>Section Time</strong><br>
    <input type="checkbox" id="mondayTime" name="mondayTime" value="monday">
    <label for="mondayTime">Monday</label><br>

    <input type="checkbox" id="tuesdayTime" name="tuesdayTime" value="tuesday">
    <label for="tuesdayTime">Tuesday</label><br>

    <input type="checkbox" id="wednesdayTime" name="wednesdayTime" value="wednesday">
    <label for="wednesdayTime">Wednesday</label><br>

    <input type="checkbox" id="thursdayTime" name="thursdayTime" value="thursday">
    <label for="thursdayTime">Thursday</label><br>

    <input type="checkbox" id="fridayTime" name="fridayTime" value="friday">
    <label for="fridayTime">Friday</label><br>

    <label for="sectionStartTime">Start Time</label>
    <input type="time" id="sectionStartTime" name="sectionStartTime"><br>
    <label for="sectionEndTime">End Time</label>
    <input type="time" id="sectionEndTime" name="sectionEndTime"><br>

    <strong>Professor</strong>
    <select class="form-control" id="professorInput" name="professorInput">
        {% for professor in professors %}
            <option value="{{ professor.id }}">{{ professor.first_name }} {{ professor.last_name }}</option>
        {% endfor %}
    </select><br>


    <button type="submit" class="btn btn-primary" name="SaveChanges">Submit</button>

</form>

<h1>All added Sections:</h1>
{% for section in sections %}
    {{ section.__repr__() }}<br>
{% endfor %}


{% endblock %}
