{% extends "base.html" %}
{% block title %}Admin Add Course{% endblock %}
{% block content %}
<div class="container p-3 gy-3">

<form action="{{ url_for('admin.add_course') }}" method="POST">
    <div class="form-group">
        <label for="courseDepartment"><strong>Course Department</strong></label>
        <input type="text" class="form-control" id="courseDepartment" placeholder="E.g. CSCI, IST, CIST" name="courseDepartment" required>
    </div>

    <div class="form-group">
        <label for="courseNumber"><strong>Course Number</strong></label>
        <input type="text" class="form-control" id="courseNumber" placeholder="E.g. 4970, 1400, 3700" name="courseNumber" required>
    </div>

    <div class="form-group">
        <label for="courseName"><strong>Course Name</strong></label>
        <input type="text" class="form-control" id="courseName" placeholder="E.g. Capstone, Intro to C Programing" name="courseName" required>
    </div>

    <input type="checkbox" id="displayOnIndex" name="displayOnIndex" value="display">
    <label for="successfulSession"><strong>Display on Home Screen</strong></label><br><br>

    <button type="submit" class="btn btn-primary" name="SaveChanges">Submit</button>

</form>


{% macro courses_table(caption) -%}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table align-middle caption-top">
                <caption>
                    <h5 class="text-center">{{ caption }}</h5>
                </caption>
                {{ caller() }}
            </table>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro remove_course_button(course) -%}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#">
    Remove
</button>
{%- endmacro %}

{% call courses_table('All Courses') %}
    <thead>
        <tr>
            <th scope="col">Department/Number</th>
            <th scope="col">Name</th>
            <th scope="col">Display on Home</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr scope="row">
            <td>{{ course.department }} {{ course.number }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.on_display }}</td>
            <td>{{ remove_course_button(course) }}</td>

        </tr>
        {% endfor %}
    </tbody>
{% endcall %}

</div>
{% endblock %}
