{% extends "base.html" %}
{% block title %}Admin Add Sections{% endblock %}
{% block content %}
<div class="container p-3 gy-3">

<form action="{{ url_for('admin.add_section') }}" method="POST">

    <strong>Semester</strong>
    <select class="form-control" id="semesterInput" name="semesterInput" required>
        {% for semester in semesters %}
            <option value="{{ semester.id }}">{{ semester.season }} {{ semester.year }}</option>
        {% endfor %}
    </select>

    <strong>Course</strong>
    <select class="form-control" id="courseInput" name="courseInput" required>
        {% for course in courses %}
            <option value="{{ course.id }}">{{ course.pretty_print() }}</option>
        {% endfor %}
    </select>

    <div class="form-group">
        <label for="sectionNumberInput"><strong>Section Number</strong></label>
        <input type="number" class="form-control" id="sectionNumberInput" name="sectionNumberInput" required>
    </div>

    <strong>Section Mode</strong><br>
    <input type="radio" id="inPersonMode" name="mode" value="InPerson" required>
    <label for="inPersonMode">In Person</label>
    <input type="radio" id="remoteMode" name="mode" value="Remote">
    <label for="remoteMode">Remote</label>
    <input type="radio" id="totallyOnline" name="mode" value="TotallyOnline">
    <label for="totallyOnline">Totally Online</label><br>

    <strong>Section Time</strong><br>
    <input type="checkbox" id="mondayTime" name="mondayTime" value="monday">
    <label for="mondayTime">Monday</label><br>

    <input type="checkbox" id="tuesdayTime" name="tuesdayTime" value="tuesday">
    <label for="tuesdayTime">Tuesday</label><br>

    <input type="checkbox" id="wednesdayTime" name="wednesdayTime" value="wednesday">
    <label for="wednesdayTime">Wednesday</label><br>

    <input type="checkbox" id="thursdayTime" name="thursdayTime" value="thursday">
    <label for="thursdayTime">Thursday</label><br>

    <input type="checkbox" id="fridayTime" name="fridayTime" value="friday">
    <label for="fridayTime">Friday</label><br>

    <label for="sectionStartTime">Start Time</label>
    <input type="time" id="sectionStartTime" name="sectionStartTime"><br>
    <label for="sectionEndTime">End Time</label>
    <input type="time" id="sectionEndTime" name="sectionEndTime"><br>

    <strong>Professor</strong>
    <select class="form-control" id="professorInput" name="professorInput">
        {% for professor in professors %}
            <option value="{{ professor.id }}">{{ professor.first_name }} {{ professor.last_name }}</option>
        {% endfor %}
    </select><br>


    <button type="submit" class="btn btn-primary" name="SaveChanges">Submit</button>

</form>

{% macro sections_table(caption) -%}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table align-middle caption-top">
                <caption>
                    <h5 class="text-center">{{ caption }}</h5>
                </caption>
                {{ caller() }}
            </table>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro remove_section_button(section) -%}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#">
    Remove
</button>
{%- endmacro %}

{% call sections_table('All Sections') %}
    <thead>
        <tr>
            <th scope="col">Section Number</th>
            <th scope="col">Course</th>
            <th scope="col">Professor</th>
            <th scope="col">Schedule</th>
            <th scope="col">Semester</th>
            <th scope="col">Mode</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for section in sections %}
        <tr scope="row">
            <td>{{ section.section_number }}</td>
            <td>{{ section.course }}</td>
            <td>{{ section.professor }}</td>
            <td>{{ section.days_of_week }} {{ section.start_time }} {{ section.end_time }}</td>
            <td>{{ section.semester_id }}</td>
            <td>{{ section.section_mode }}</td>
            <td>{{ remove_section_button(section) }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endcall %}


</div>
{% endblock %}
