{% extends "base.html" %}
{% block title %}Admin Console{% endblock %}
{% block content %}
<div class="container p-3 gy-3">

<form action="{{ url_for('admin.add_course') }}" method="POST">
    <div class="form-group">
        <label for="courseDepartment"><strong>Course Department</strong></label>
        <input type="text" class="form-control" id="courseDepartment" placeholder="E.g. CSCI, IST, CIST" name="courseDepartment" required>
    </div>

    <div class="form-group">
        <label for="courseNumber"><strong>Course Number</strong></label>
        <input type="text" class="form-control" id="courseNumber" placeholder="E.g. 4970, 1400, 3700" name="courseNumber" required>
    </div>

    <div class="form-group">
        <label for="courseName"><strong>Course Name</strong></label>
        <input type="text" class="form-control" id="courseName" placeholder="E.g. Capstone, Intro to C Programing" name="courseName" required>
    </div>

    <input type="checkbox" id="displayOnIndex" name="displayOnIndex" value="display">
    <label for="successfulSession"><strong>Display on Home Screen</strong></label><br><br>

    <button type="submit" class="btn btn-primary" name="SaveChanges">Submit</button>

</form>


{% macro courses_table(caption) -%}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table align-middle caption-top">
                <caption>
                    <h5 class="text-center">{{ caption }}</h5>
                </caption>
                {{ caller() }}
            </table>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro remove_course_button(course) -%}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prompt-remove-{{ course.id }}">
    Remove
</button>
{%- endmacro %}

{% macro remove_course_modal(course) %}
<div class="modal fade " id="prompt-remove-{{ course.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="title-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="title-label">Remove Course</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove <strong>{{ course.department }}{{ course.number }}: {{ course.course_name }}</strong><br>
                This action will also remove the section(s): <strong>{{ course.sections }}</strong>
            </div>
            <form action="{{ url_for('admin.remove_course') }}" method="post">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <input type="hidden" name="courseID" value="{{ course.id }}">
                    <input type="submit" class="btn btn-primary" value="Yes" />
                </div>
            </form>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro edit_course_button(course) -%}
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#prompt-edit-{{ course.id }}">
    <img src="{{ url_for('static', filename='img/pencil-square.svg') }}" alt="edit" />
</button>
{%- endmacro %}

{% macro edit_course_modal(course) -%}
<div class="modal fade " id="prompt-edit-{{ course.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="title-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title fs-5" id="title-label">Update Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('admin.edit_course') }}" method="post">
                <div class="modal-body">
                    {{ caller() }}
                </div>
                <div class="modal-footer border-0">
                    <input type="hidden" name="courseID" value="{{ course.id }}">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>
{%- endmacro %}

{% call courses_table('All Courses') %}
    <thead>
        <tr>
            <th scope="col">Department/Number</th>
            <th scope="col">Name</th>
            <th scope="col">Display on Home</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr scope="row">
            <td>{{ course.department }} {{ course.number }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.on_display }}</td>
            <td>{{ remove_course_button(course) }} {{ edit_course_button(course) }}</td>

            {{ edit_course_modal(course) }}
            {{ remove_course_modal(course) }}
        </tr>
        {% endfor %}
    </tbody>
{% endcall %}

</div>
{% endblock %}
