{% extends "base.html" %}
{% block title %}Admin Console{% endblock %}
{% block content %}

<h1>Problem Types</h1>

<form action="{{ url_for('admin.add_problem_type') }}" method="POST">
    <div class="form-group">
        <label for="problemType"><strong>Problem Type</strong></label>
        <input type="text" class="form-control" id="problemType" placeholder="E.g. I don't know what to do" name="problemType" required>
    </div>
    <button type="submit" class="btn btn-primary" name="SaveChanges">Submit</button>
</form>


<h1>All added problemTypes:</h1>
{% for problem in problemTypes %}
    {{ problem.problem_type }}<br>
{% endfor %}


{% endblock %}
