{% extends "base.html" %}
{% block title %}Admin Add Sections{% endblock %}
{% block content %}
<form action="{{ url_for('views.add_section') }}" method="POST">

    <strong>Semester</strong>
    <select class="form-control" id="semesterInput" name="semesterInput" required>
        <option>Semester 1</option>
        <option>Semester 2</option>
        <option>Semester 3</option>
        <option>Semester 4</option>
        <option>Semester 5</option>
    </select>

    <strong>Course</strong>
    <select class="form-control" id="courseInput" name="courseInput" required>
        <option>IST 1234: Super Cool Course</option>
        <option>IST 1111: NEW Course</option>
        <option>CSCI 4444: Hard Course</option>
        <option>CIST 1300: Test Course</option>
        <option>CIST 1111: test</option>
    </select>

    <div class="form-group">
        <label for="sectionNumberInput"><strong>Section Number</strong></label>
        <input type="number" class="form-control" id="sectionNumberInput" name="sectionNumberInput" required>
    </div>

    <strong>Section Mode</strong><br>
    <input type="radio" id="inPersonMode" name="mode" value="InPerson">
    <label for="inPersonMode">In Person</label>
    <input type="radio" id="remoteMode" name="mode" value="Remote">
    <label for="remoteMode">Remote</label>
    <input type="radio" id="totallyOnline" name="mode" value="TotallyOnline">
    <label for="totallyOnline">Totally Online</label><br>

    <strong>Section Time</strong><br>
    <input type="checkbox" id="mondayTime" name="mondayTime" value="monday">
    <label for="mondayTime">Monday</label><br>

    <input type="checkbox" id="tuesdayTime" name="tuesdayTime" value="tuesday">
    <label for="tuesdayTime">Tuesday</label><br>

    <input type="checkbox" id="wednesdayTime" name="wednesdayTime" value="wednesday">
    <label for="wednesdayTime">Wednesday</label><br>

    <input type="checkbox" id="thursdayTime" name="thursdayTime" value="thursday">
    <label for="thursdayTime">Thursday</label><br>

    <input type="checkbox" id="fridayTime" name="fridayTime" value="friday">
    <label for="fridayTime">Friday</label><br>

    <label for="sectionStartTime">Start Time</label>
    <input type="time" id="sectionStartTime" name="sectionStartTime" step="300"><br>
    <label for="sectionEndTime">End Time</label>
    <input type="time" id="sectionEndTime" name="sectionEndTime" step="300"><br>

    <strong>Professor</strong>
    <select class="form-control" id="professorInput" name="professorInput">
        <option>Billy Bob</option>
        <option>Dilly Bob</option>
        <option>Nilly Bob</option>
        <option>Jilly Bob</option>
        <option>Willy Bob</option>
    </select><br>


    <button type="submit" class="btn btn-primary" name="SaveChanges">Submit</button>

</form>

<h1>All added Sections:</h1>
{% for professor in professors %}
    {{ professor.__repr__().title() }}<br>
{% endfor %}


{% endblock %}
