<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-console.css') }}" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Header content -->
    <div class="logo-section">
        <table class="logo">
            <tr>
                <td class="logo">
                    <img src="{{ url_for('static', filename='img/uno-icon-color.png') }}"
                        alt="University of Nebraska at Omaha Logo" class="uno-logo" />
                </td>
                <td class="right-end">
                    <a class="logo-text" href="{{ url_for('views.index') }}">Computer Science Learning Center</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="nav-section">
        {% if not user.is_authenticated %}
        <ul>
            <li>
            <a class="Login" href='{{ build_auth_url() }}'>Sign In</a>
            </li>
        </ul>
        {% else %}
        <ul>
            <li class="nav-link">
            <a class="Login" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>

            {% if user.permission >= Permission.Tutor %}
            <li class="nav-link">
                <div class="Tutor dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Tutor
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <!-- TODO: EDIT TUTOR
                        <li><a class="dropdown-item" href="tutor.html">Edit Tutor Information</a></li>
                    -->
                        <li><a class="dropdown-item" href="{{ url_for('views.view_tickets') }}">View Tickets</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}

            {% if user.permission >= Permission.Admin %}
            <li class="nav-link">
                <div class="Admin">
                    <button class="btn btn-secondary shadow-none dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <!-- TODO: ADMIN CONSOLE, REPORTS
                            <li><a class="dropdown-item" href="reports.html">Reports</a></li>
                        -->
                        <li><a class="dropdown-item" href="{{ url_for('admin.console') }}">Administration Console</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>

    <!-- Alert -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% elif category == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% elif category == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {% endif %}
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Content that is page specific -->
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>

</html>
