{% extends "base.html" %}
{% block title %}Create Ticket{% endblock %}
{% block content %}

<div class="container p-3 gy-3">
    <div class="row">
        <div class="col">
            <h1>Create Ticket</h1>
            <hr />
        </div>
    </div>

    <div class="row">
        <form class="" action="/create-ticket" method="POST">

            {% if not current_user.is_authenticated %}
            <div class="mb-3">
                <h6>Contact Information</h6>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email"
                        required>
                    <label for="email">Email</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="fullname" placeholder="Full Name" name="fullname" required>
                    <label for="fullname">Full Name</label>
                </div>
            </div>
            {% endif %}

            <div class="row mb-3">
                <div class="col">
                    <h6>Course Information</h6>
                    <div class="input-group">
                        <select class="form-select" style="line-height: 3.0;" id="course" name="course">
                            <option>Course 1</option>
                            <option>Course 2</option>
                            <option>Course 3</option>
                            <option>Course 4</option>
                            <option>Course 5</option>
                        </select>

                        <select class="form-select" id="section" name="section">
                            <option>Section 1</option>
                            <option>Section 2</option>
                            <option>Section 3</option>
                            <option>Section 4</option>
                            <option>Section 5</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <h6>Assignment Details</h6>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="assignment" placeholder="Assignment Name" name="assignment" required>
                    <label for="assignment">Assignment Name</label>
                </div>

                <div class="mb-3">
                    <textarea class="form-control" id="question" rows="10" placeholder="Description of issue or question..." name="question" required></textarea>
                    <label class="visually-hidden" for="question">Specific Question</label>
                </div>

                <div class="mb-3">
                    <label for="problem">Problem Type</label>
                    <select class="form-select" style="line-height: 3.0;" id="problem" name="problem">
                        {% for type in ProblemType.query.all() %}
                        <option value="{{ type.id }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <h6>Please select in person or online mode of help</h6>
                <div class="form-check">
                    <input type="radio" id="inPersonRadio" name="mode" class="form-check-input" value="{{ Mode.InPerson.value }}" required>
                    <label class="form-check-label" for="inPersonRadio">In Person</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="onlineRadio" name="mode" class="form-check-input" value="{{ Mode.Online.value }}" required>
                    <label class="form-check-label" for="onlineRadio">Online</label>
                </div>
            </div>

            <hr>

            <div class="d-flex justify-content-center">
                <input type="submit" class="btn w-25 btn-lg btn-primary" value="Submit" />
            </div>
        </form>
    </div>
</div>

{% endblock %}
