{% extends "base.html" %}
{% block title %}Admin Console{% endblock %}
{% block content %}

<h1>Tickets</h1>

<form action="{{ url_for('admin.generate_reports') }}" method="POST">
    <div class="form-group">
        <label for="creationDate"><strong>Start Date</strong></label>
        <input type="date" class="form-control" id="creationDate" placeholder="yyyy-mm-dd" name="creationDate" required>
        <label for="course"><strong>Course</strong></label>
        <input type="text" class="form-control" id="course" placeholder="CSCI 1400" name="course">
    </div>
    <button type="submit" class="btn btn-primary" name="SaveChanges">Download</button>
</form>

{% endblock %}
