{% extends "base.html" %}
{% block title %}Future Site of CSLC Tutoring Portal{% endblock %}

{% block content %}

{% macro toggle_working_button(user) -%}
    <form action="{{ url_for('views.toggle_working') }}" method="post">
    {% if current_user.tutor_is_working %}
        <button style="border:none; background: none;" name="toggleWorkingID" value="{{ current_user.id }}"><span class="badge rounded-pill bg-success">Yes</span></button>
    {% else %}
        <button style="border:none; background: none;" name="toggleWorkingID" value="{{ current_user.id }}"><span class="badge rounded-pill bg-secondary">No</span></button>
    {% endif %}
</form>
{%- endmacro %}

{% macro toggle_can_tutor_button(course) -%}
    <form action="{{ url_for('views.toggle_can_tutor') }}" method="post">
    {% if course in current_user.courses %}
        <button style="border:none; background: none;" name="toggleCanTutorID" value="{{ course.id }}"><span class="badge rounded-pill bg-success">Yes</span></button>
    {% else %}
        <button style="border:none; background: none;" name="toggleCanTutorID" value="{{ course.id }}"><span class="badge rounded-pill bg-secondary">No</span></button>
    {% endif %}
</form>
{%- endmacro %}

{% macro courses_table(caption) -%}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table align-middle caption-top">
                <caption>
                    <h5 class="text-center">{{ caption }}</h5>
                </caption>
                {{ caller() }}
            </table>
        </div>
    </div>
</div>
{%- endmacro %}

<h1>Edit Tutor Information</h1>

<h2>Tutor Name: {{ current_user.name }}</h2>
<h2>Tutor Email: {{ current_user.email }}</h2>
<h2>Currently Working: {{ toggle_working_button(current_user) }}</h2>

{% call courses_table('All Courses') %}
    <thead>
        <tr>
            <th scope="col">Department/Number</th>
            <th scope="col">Name</th>
            <th scope="col">Can Tutor?</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr scope="row">
            <td>{{ course.department }} {{ course.number }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ toggle_can_tutor_button(course) }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endcall %}

{% endblock %}

