{% extends "base.html" %}
{% block title %}Future Site of CSLC Tutoring Portal{% endblock %}

{% block content %}
    <h1>WELCOME TO THE UNO CSLC</h1>
    <h2> {{ ConfigData['misc_config']['room_number'] }} | <a href="{{ ConfigData['misc_config']['zoom_link'] }}">Zoom Link</a></h2>
    <br>
    <hr class="solid" />

    <!-- messages -->
    {% for message in messages %}
        <h5> {{ message.message }} </h5>
    {% endfor %}

    <h1 style="font-size: 20px">HOURS</h1>

    <!-- TODO: Get current hours from database -->
    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="col">
                <h5>MONDAY</h5>
                {{ ConfigData['hours']['monday_start'] }} - {{ ConfigData['hours']['monday_end'] }}
            </div>
            <div class="col">
                <h5>TUESDAY</h5>
                {{ ConfigData['hours']['tuesday_start'] }} - {{ ConfigData['hours']['tuesday_end'] }}
            </div>
            <div class="col">
                <h5>WEDNESDAY</h5>
                {{ ConfigData['hours']['wednesday_start'] }} - {{ ConfigData['hours']['wednesday_end'] }}
            </div>
            <div class="col">
                <h5>THURSDAY</h5>
                {{ ConfigData['hours']['thursday_start'] }} - {{ ConfigData['hours']['thursday_end'] }}
            </div>
            <div class="col">
                <h5>FRIDAY</h5>
                {{ ConfigData['hours']['friday_start'] }} - {{ ConfigData['hours']['friday_end'] }}
            </div>
            <div class="col">
                <h5>SATURDAY</h5>
                {{ ConfigData['hours']['saturday_start'] }} - {{ ConfigData['hours']['saturday_end'] }}
            </div>
        </div>
        <!-- row for create ticket button -->
        <br>
        <div class="row">
            <div class="col-12">
                <button class="create-ticket-button" onclick="window.location.href='/create-ticket'">
                    Open Ticket
                </button>
            </div>
        </div>
    </div>

    <hr class="solid" />
    <h1>COURSE AVAILABILITY</h1>

    <!-- TODO: get offered courses and available tutors from database -->
    <table>
        <tr>
            <th><h2>Course</h2></th>
            <th><h2>Tutors</h2></th>
        </tr>
        {% for course in OnDisplay %}
        <tr class="middle">
            <td>{{ course.department }} {{ course.number }}: {{ course.course_name }}</td>
            <td>{{ course.canTutors|length }}</td>
        </tr>
        {% endfor %}

    </table>
{% endblock %}

