{% extends "base.html" %}
{% block title %}Open Tickets{% endblock %}
{% block content %}

<h1>View Tickets Page</h1><br>
{% for ticket in tickets %}
    {% if ticket.status == m.Status.Open %}
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    {% elif ticket.status == m.Status.Claimed %}
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    {% elif ticket.status == m.Status.Closed %}
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    {% endif %}
    <div class="card-header">
        {{ ticket.student_name }} <br>
        {{ ticket.time_created.strftime('%m/%d/%Y - %H:%M') }}
        <!-- Button trigger edit ticket modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit{{ ticket.id }}" data-backdrop="static" data-keyboard="false" style="background-color: transparent; border: none;">
            <img src="static/pencil.svg" alt="edit ticket button">
        </button>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ ticket.course }}</h5>
      <h6 class="card-title">Assignment: {{ ticket.assignment_name }}</h6>
      <p class="card-text">{{ ticket.specific_question }}</p>
      <h5 class="card-title">{{ ticket.status }}</h5>
    </div>
    <div class="card-footer">
      <form action="{{ url_for('views.update_ticket') }}", method="POST">
        <input type="hidden" name="ticketID" value="{{ ticket.id }}">
        {% if ticket.status == m.Status.Open %}
        <button type="submit" class="btn btn-primary" name="action" value="Claim">Claim</button>
        {% elif ticket.status == m.Status.Claimed %}
        <button type="submit" class="btn btn-primary" name="action" value="Close">Close</button>
        {% elif ticket.status == m.Status.Closed %}
        <button type="submit" class="btn btn-primary" name="action" value="ReOpen">ReOpen</button>
        {% endif %}
      </form>
    </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="edit{{ ticket.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Ticket ID: {{ ticket.id }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
          <div class="modal-body">
              <input type="hidden" name="ticketID" value="{{ ticket.id }}">
              <strong>Email</strong>
              <p>{{ ticket.student_email }}</p>

              <strong>First Name</strong>
              <p>{{ ticket.student_name }}</p>

              <strong>Course</strong>
              <select class="form-control" id="courseInput" name="courseField">
                <option value="" disabled selected>{{ ticket.course }}</option>
                <option>Course 1</option>
                <option>Course 2</option>
                <option>Course 3</option>
                <option>Course 4</option>
                <option>Course 5</option>
              </select>

              <strong>Section</strong>
              <select class="form-control" id="sectionInput" name="sectionField">
                <option value="" disabled selected>{{ ticket.section }}</option>
                <option>Section 1</option>
                <option>Section 2</option>
                <option>Section 3</option>
                <option>Section 4</option>
                <option>Section 5</option>
              </select>

              <strong>Assignment Name</strong>
              <input type="text" class="form-control" id="assignmentNameInput" placeholder="Assignment Placeholder" value="{{ ticket.assignment_name }}" name="assignmentNameField">

              <strong>Specific Question</strong>
              <textarea class="form-control" id="specificQuestionInput" rows="3" placeholder="eg. Idk how to ______ , I am having issues with ____" name="specificQuestionField">{{ ticket.specific_question }}</textarea>

              <strong>Problem Type</strong>
              <select class="form-control" id="problemTypeInput" name="problemTypeField">
                <option value="" disabled selected>{{ ticket.problem_type }}</option>
                <option>Problem Type 1</option>
                <option>Problem Type 2</option>
                <option>Problem Type 3</option>
                <option>Problem Type 4</option>
                <option>Problem Type 5</option>
              </select>

              <strong>Primary Tutor</strong>
              <select class="form-control" id="primaryTutorInput" name="primaryTutorInput">
                <option value="" disabled selected>{{ ticket.user.user_name }}</option>
                {% for tutor in tutors %}
                    <option>{{ tutor.user_name }}</option>
                {% endfor %}
              </select>

              <strong>Tutor Notes</strong>
              <textarea class="form-control" id="tutorNotes" rows="3" name="tutorNotes"></textarea><br>

              <input type="checkbox" id="successfulSession" name="successfulSession" value="success">
              <label for="successfulSession"><strong>Was Successful</strong></label>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>

        </div>
      </div>
    </div>

{% endfor %}

{% endblock %}
