[flake8]
exclude = __pycache__,templates,static
max-complexity = 10
max-line-length = 160

# TODO: Ignoring C901 temporarily until Flask-WTF is integrated
ignore = H903, E266, D203, H306, E302, F401, E201, E202, E711, C901
indent-size=4
