.heading-text {
    margin-top: 60px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.heading-text2 {
    margin-top: 20px;
    text-align: center;
    color: grey;
    font-size: 25px;
}

.vl {
    border-left: 1px solid white;
    margin-top: 40px;
    position: absolute;
    left: 500px;
    height: 80px;
}

.vm {
    border-left: 1px solid #c5c4c4;
    margin-top: 10px;
    position: absolute;
    margin-left: 400px;
    height: 100px;
}

.vm1 {
    border-left: 1px solid #c5c4c4;
    margin-top: 10px;
    position: absolute;
    margin-left: 575px;
    height: 100px;
}

.vm2 {
    border-left: 1px solid #c5c4c4;
    margin-top: 10px;
    position: absolute;
    margin-left: 760px;
    height: 100px;
}

.vm3 {
    border-left: 1px solid #c5c4c4;
    margin-top: 10px;
    position: absolute;
    margin-left: 950px;
    height: 100px;
}

.vm4 {
    border-left: 1px solid #c5c4c4;
    margin-top: 10px;
    position: absolute;
    margin-left: 1130px;
    height: 100px;
}

.heading-text1 {
    font-size: 35px;
    color: white;
    margin-top: 50px;
    position: absolute;
    left: 530px;
    height: 80px;
}

.Home {
    position: absolute;
    margin-top: 9px;
    color: white;
    margin-left: 200px;
    text-decoration: none;
}

.Admin {
    color: white;
    margin-left: 950px;
    margin-top: 5px;
    position: absolute;
    text-decoration: none;
}
.Tutor {
    color: white;
    margin-top: 5px;
    position: absolute;
    margin-left: 1100px;
    text-decoration: none;
}

.hoursHeading {
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    color: red;
    font-size: 20px;
    margin-bottom: 15px;
}

.courseHeading {
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    color: red;
    font-size: 25px;
}

.courses {
    font-size: 20px;
    font-weight: bold;
}

.column {
    float: left;
    width: 40%;
    text-align: left;
}

.collection {
    margin-left: 30%;
    margin-top: 30px;
}

.hoursPerWeek {
    margin-top: 40px;
}

.spanA {
    display: flex;
}

.Day {
    right: 300px;
}

#exampleInputEmail1 {
    position: relative;
    top: 18px;
    margin-left: 0px;
    width: 600px;
    margin-bottom: 25px;
}

#exampleFormControlSelect1 {
    position: relative;
    top: 18px;
    margin-left: 0px;
    width: 600px;
    margin-bottom: 25px;
}

#forms {
    margin-left: 200px;
}

.InputFields {
    font-weight: bold;
    font-size: 20px;
}

.btn-secondary {
    background-color: #292929 !important;
    border: none !important;
    outline: none !important;
}

.sections {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 40px;
}

.sub-section {

    display: block;
  margin-left: auto;
  margin-right: auto;
    text-align: center;
    margin-top: 15px;
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}
